/*全局样式*/
* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'iconfont';
    src: url('../FontIcon/iconfont.eot');
    src: url('../FontIcon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../FontIcon/iconfont.woff2') format('woff2'),
    url('../FontIcon/iconfont.woff') format('woff'),
    url('../FontIcon/iconfont.ttf') format('truetype'),
    url('../FontIcon/iconfont.svg#iconfont') format('svg');
}

body, html {
    font-family: "iconfont" !important;
    /*字体抗锯齿渲染*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*去掉横向滚动条*/
    /*overflow-X: hidden;*/
    overflow-x: hidden;
}

/*状态栏开始*/
.topBar {
    width: 100vw;
    height: 40px;
    font-size: 12px;
    background: #333;
}

.topBar ul {
    margin: 0;
}

.topBar .col-auto {
    line-height: 40px;
}

.col-auto a {
    color: white;
    opacity: 0.5;
}

.col-auto a:hover {
    opacity: 1;
}

#exit {
    display: none;
    background: #CCC;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 45px;
    z-index: 2;
    width: 20%;
    cursor: pointer;
}

#exit a {
    color: #ff6700;
}

#loginLi {
    cursor: pointer;
}
#topBal-Right{
    padding-left: 60px;
}

.Shopping {
    position: relative;
    width: 4rem;
    text-align: center;
    background: #444;
}

/*屏幕宽度小于1200像素时*/
@media (max-width: 1200px) {
    .topBar {
        position: fixed;
        bottom: 0;
        z-index: 9999;
    }

    body {
        padding-bottom: 40px;
    }

    #topBal-Left {
        display: none !important;
    }

    #exit {
        display: none;
        background: #CCC;
        font-weight: bold;
        text-align: center;
        position: absolute;
        top: -40px;
        left: -1vw;
        z-index: 999;
        width: 11vw;
        cursor: pointer;
    }

    .row {
        position: relative;
    }

    #topBal-Right {
        width: 100%;
        position: absolute;
        left: 0;
        padding: 0;
    }

    #topBal-Right li:first-child {
        margin: 0;
    }

    .Shopping-text {
        display: none;
        visibility: hidden;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #topBal-Left {
        display: none !important;
    }

    .row {
        position: relative;
    }

    #topBal-Right {
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        position: absolute;
        left: 0;
    }

    #topBal-Right li:first-child {
        margin: 0;
    }

    .Shopping-text {
        display: none;
        visibility: hidden;
    }
}

#topBal-Right .Shopping-text {
    position: absolute;
    top: 40px;
    left: 125px;
    width: 15rem;
    height: 6rem;
    background: white;
    z-index: 99;
    display: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    padding-top: 2rem;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

/*状态栏结束*/
/*<!--导航栏开始-->*/
.Logo1 {
    width: 5rem;
    height: 5rem;
    z-index: 1;
    cursor: pointer;
}

.align-items-center {
    margin: 0;
}

#nav-center li a {
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

#nav-center li a:hover {
    color: #ff6700;
}

#search-input {
    width: 12rem;
    height: 3rem;
    outline: none;
    border: 1px solid #CCC;
    border-right: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    z-index: 1;
}

.search .search-icon {
    text-align: center;
    line-height: 3rem;
    width: 3rem;
    height: 3rem;
    border: 1px solid #CCC;
    color: #CCC;
    cursor: pointer;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.search-icon:hover {
    background: #ff6700;
    color: #FFF;
    border: 1px solid #ff6700;
}

.shrink {
    display: none !important;
}

@media (max-width: 1200px) {
    .search {
        display: none !important;
    }

    #banner .drop-down {
        text-align: center;
    }

    #banner .drop-down li {
        height: 100%;
        position: relative;
    }

    #banner .drop-down li p {
        width: 100%;
        height: 35.2px;
        position: absolute;
        left: 0;
        overflow: hidden;
        /*隐藏部分用省略号显示*/
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #banner .drop-down li span {
        position: relative;
        left: 0;
        top: 25%;
        display: flex;
        justify-content: center;
        justify-items: center;
    }

    @media (min-width: 992px) {
        #nav-center {
            flex: 0 0 90%;
            max-width: 100%;
        }
    }
}

/*手机情况下*/
@media (max-width: 768px) {
    .search {
        display: block !important;
        flex: 100%;
        max-width: 240px;
        height: 80px;
        line-height: 80px;
    }

    .search-icon {
        float: right;
        position: relative;
        top: 16px;
    }

    #nav-center {
        display: none !important;
    }

    .shrink {
        display: block !important;
        position: absolute;
        right: 0px;
        font-size: 20px;
        z-index: 10;
        cursor: pointer;

    }

    .shrink .shrink-panel {
        position: absolute;
        right: 0;
        top: 5px;
        width: 35vw;
        height: auto;
        background: linear-gradient(30deg, #cccccc, #000000, white);
        z-index: -1;
        border-radius: 10px;
        opacity: 0.8;
        display: none !important;
    }

    .shrink .shrink-panel2 {
        display: block !important;
    }

    .shrink .shrink-panel .nav-center2 {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
    }

    .shrink .shrink-panel .nav-center2 li {
        margin: 1vh 0;
    }

    .shrink .shrink-panel .nav-center2 li a {
        color: #FFF;
        transition: all 0.3s ease-in-out 0s;
    }

    .shrink .shrink-panel .nav-center2 li a:hover {
        color: #ff6700;
        text-decoration: none;
    }
}

/*最小情况下*/
@media (max-width: 370px) {
    .search {
        display: none !important;
    }
}

/*平板*/
@media (min-width: 768px) and (max-width: 992px) {
    .myNav {
        position: relative;
    }

    .search {
        display: block !important;
        flex: 100%;
        max-width: 240px;
        height: 80px;
        line-height: 80px;
        position: relative;
        left: 156px;
    }

    .shrink {
        display: block !important;
        position: absolute;
        right: 0%;
        font-size: 2rem;
    }

    .search-icon {
        float: right;
        position: relative;
        top: 16px;
    }

    #nav-center {
        display: none !important;
    }

    .shrink {
        display: block !important;
        position: absolute;
        right: 0px;
        font-size: 20px;
        z-index: 10;
        cursor: pointer;
    }

    .shrink .shrink-panel {
        position: absolute;
        right: 0;
        top: 5px;
        width: 30vw;
        height: auto;
        background: linear-gradient(30deg, #cccccc, #000000, white);
        z-index: -1;
        border-radius: 10px;
        opacity: 0.8;
        display: none !important;
    }

    .shrink .shrink-panel2 {
        display: block !important;
    }

    .shrink .shrink-panel .nav-center2 {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 1.5rem;
    }

    .shrink .shrink-panel .nav-center2 li {
        margin: 1vh 0;
    }

    .shrink .shrink-panel .nav-center2 li a {
        color: #FFF;
        transition: all 0.3s ease-in-out 0s;
    }

    .shrink .shrink-panel .nav-center2 li a:hover {
        color: #ff6700;
        text-decoration: none;
    }
}

.drop-down {
    position: absolute;
    border-top: 1px solid #CCC;
    padding: 20px;
    margin: 0;
    height: 200px;
    z-index: 999;
    background: rgba(255, 255, 255, 0.9);
    display: none !important;
    text-align: center;
}

.drop-down li {
    float: left;
    font-size: 13px;
    font-weight: 400;
}

#banner .drop-down li img {
    z-index: 999;
}

.drop-down2 {
    display: block !important;
}

.drop-down li p {
    width: 100%;
    position: absolute;
    left: 0;
    position: relative;
    padding: 8px;
    margin: 0;
}

.drop-down span {
    position: relative;
    left: 0;
    top: 25%;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #ff6700;
}

.drop-down img {
    border-right: 1px solid #CCC;
}

.drop-down .last-img {
    border-right: none !important;
}

/*<!--导航栏结束-->*/
/*banner条开始*/
.carousel-control-prev span {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
}

.carousel-control-next span {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.6);
}

/*<!--商品列表页开始-->*/
.commodity-List {
    width: 100vw;
    margin-top: 3vh;
    background: #eeeeee;
    height: auto;
}

#img-First {
    height: 614px;
    position: relative;
    padding-right: 10px;
}

.commodity-List .commodity-List1 div {
    padding: 0;
    margin: 0;
    background: #FFF;
    border: 5px solid #EEE;
    border-bottom: 0;
    border-top: 0;
    cursor: pointer;
    border-radius: 2px;
}

.commodity-List .commodity-List1 div:nth-child(1),
.commodity-List .commodity-List1 div:nth-child(2),
.commodity-List .commodity-List1 div:nth-child(3),
.commodity-List .commodity-List1 div:nth-child(4) {
    border-bottom: 20px solid #EEE;
}

.commodity-List .commodity-List1 div:hover {
    box-shadow: -2px 2px 50px 1px rgba(0, 0, 0, 0.6);
    border: 5px solid #FFF;
    transform: translateY(-10px);
    transition: all 0.6s ease;
}

.commodity-List .commodity-List1 div img {
    position: relative;
    left: 27px;
    top: 20px;
}

.commodity-List .commodity-List1 .w-100 {
    left: 0;
}

.commodity-List .commodity-List1 div p {
    position: relative;
    top: 30px;
    margin-bottom: 5px;
    text-align: center;
}

.commodity-List .commodity-List1 div p:nth-child(3) {
    font-size: 13px;
    opacity: 0.5;
}

.commodity-List .commodity-List1 div p:nth-child(4) {
    color: #ff6700;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 1200px) {
    #img-First {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .commodity-List .commodity-List1 div {
        height: 450px;
    }

    .commodity-List .commodity-List1 div:nth-child(5),
    .commodity-List .commodity-List1 div:nth-child(6) {
        border-bottom: 10px solid #EEE;
    }

    .commodity-List .commodity-List1 div span {
        position: relative;
        top: 37px;
        left: 42px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .commodity-List .commodity-List1 div {
        height: 450px;
    }

    .commodity-List .commodity-List1 div:nth-child(5),
    .commodity-List .commodity-List1 div:nth-child(6) {
        border-bottom: 10px solid #EEE;
    }

    .commodity-List .commodity-List1 div span {
        position: relative;
        top: 37px;
        left: 58px;
    }
}

@media (max-width: 767px) {
    .commodity-List .commodity-List1 div {
        height: 550px;
    }

    .commodity-List .commodity-List1 div:nth-child(5),
    .commodity-List .commodity-List1 div:nth-child(6),
    .commodity-List .commodity-List1 div:nth-child(7) {
        border-bottom: 10px solid #EEE;
    }

    .commodity-List .commodity-List1 div span {
        position: relative;
        top: 37px;
        left: 143px;
    }

    .commodity-List .commodity-List1 div img {
        position: relative;
        left: 53px;
    }
}

/*<!--商品列表页结束-->*/
/*<!--视频列表部分开始-->*/
.commodity-List-video {
    width: 100vw;
    background: #eeeeee;
    height: auto;
    padding: 3vh 0 0 0;
}

#commodity-img1 {
    display: block;
    padding-bottom: 3vh;
    margin: 0 auto;
}

.commodity-List-video .video-List {
    background: white;
    margin-right: 20px;
    padding: 0;
    flex: 1;
    flex-wrap: wrap;
    border-radius: 2px;
}

.commodity-List-video .video-List p {
    text-align: center;
    font-size: 14px;
    padding: 3vh 0 2vh 0;
}

.commodity-List-video .video-List:last-child {
    margin-right: 0;
}

.commodity-List-video .video-List:hover {
    box-shadow: -2px 2px 50px 1px rgba(0, 0, 0, 0.6);
    transform: translateY(-8px);
    transition: all 0.6s ease;
}

@media (min-width: 768px) and (max-width: 992px) {
    .commodity-List-video .video-List:nth-child(3) {
        margin-right: 0;
    }

    .commodity-List-video .video-List:last-child,
    .commodity-List-video .video-List:nth-child(5) {
        margin-top: 20px;
    }

    #warp2 {
        width: 100vw;
    }
}

@media (max-width: 767px) {
    .commodity-List-video .video-List {
        margin-right: 0;
        margin-top: 20px;
    }

    .commodity-List-video .video-List:first-child {
        margin-top: 0;
    }

    #warp1, #warp2, #warp3 {
        width: 100vw;
    }
}

/*<!--视频列表部分结束-->*/
/*售后服务部分开始*/
.After-sale {
    margin-top: 20px;
    background: white;
    width: 100vw;
}

.After-sale .After-sale-ul1 {
    border-bottom: 1px solid #BBB
}

.After-sale .After-sale-ul1 li {
    font-size: 1rem;
    padding: 27px 0;
    cursor: pointer;
}

.After-sale .After-sale-ul1 li:hover {
    color: #ff6700;
    transition: all 0.3s ease;
}

.After-sale-ul1 li span {
    padding-right: 4vw;
    border-right: 1px solid #bbbbbb;
}

.After-sale-ul1 li i {
    font-size: 1.8rem;
    padding-right: 0.6vw;
    font-style: normal;
}

.After-sale .After-sale-ul1 li:last-child span {
    border-right: 0px solid #bbbbbb;
}

.After-sale .After-sale-ul2 {
    margin-top: 5vh;
}

.After-sale .After-sale-ul2 > li {
    font-size: 1rem;
    color: #424242;
    text-align: left;
}

.After-sale .After-sale-ul2 > li > ul {
    margin-top: 1.5rem;
}

.After-sale .After-sale-ul2 > li > ul > li {
    font-size: 0.8rem;
    opacity: 0.7;
    line-height: 1.5rem;
    text-align: left;
    padding-left: 5px;
    cursor: pointer;
}

.After-sale .After-sale-ul2 > li > ul > li:hover {
    color: #ff6700;
    transition: all 0.2s ease;
}

.After-sale-div {
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 1.5rem;
    position: absolute;
    right: 0;
    border-left: 1px solid #BBB;
}

.After-sale-div p {
    margin: 0;
    padding: 0;
}

.After-sale-div p:first-child {
    font-size: 1.5rem;
    color: #ff6700;
}

.After-sale-div p:nth-child(2),
.After-sale-div p:nth-child(3) {
    font-size: 0.8rem;
    opacity: 0.7;
}

.After-sale-div div {
    margin-top: 10px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    font-size: 0.8rem;
    text-align: center;
    cursor: pointer;
    border: 1px solid #FF6700;
    color: #FF6700;
}

.After-sale-div div span {
    font-size: 1.1rem;
}

.After-sale-div div:hover {
    background: #FF6700;
    color: white;
    transition: all 0.3s ease;
}

@media (min-width: 992px)and (max-width: 1200px) {
    .After-sale-div {
        display: none !important;
    }

    .After-sale .After-sale-ul2 > li:nth-child(4),
    .After-sale .After-sale-ul2 > li:nth-child(5),
    .After-sale .After-sale-ul2 > li:nth-child(6) {
        margin-top: 1.5rem;
    }

    .After-sale .After-sale-ul2 li {
        text-align: center;
    }

    .After-sale .After-sale-ul2 li ul li {
        text-align: center;
    }
}

@media (min-width: 576px)and (max-width: 991px) {
    .After-sale-div {
        display: none !important;
    }

    .After-sale .After-sale-ul2 > li:nth-child(3),
    .After-sale .After-sale-ul2 > li:nth-child(4),
    .After-sale .After-sale-ul2 > li:nth-child(5),
    .After-sale .After-sale-ul2 > li:nth-child(6) {
        margin-top: 1.5rem;
    }

    .After-sale .After-sale-ul2 li {
        text-align: center;
    }

    .After-sale .After-sale-ul2 li ul li {
        text-align: center;
        position: relative;
        left: -0.2rem;
    }
}

@media (max-width: 575px) {
    .After-sale-div {
        display: block !important;
        border-left: 0;
        position: relative;
        text-align: center;
        margin-bottom: 50px;
    }

    .After-sale-div > div {
        position: absolute;
        left: 50%;
        margin-left: -60px;
    }

    .After-sale .After-sale-ul2 > li:nth-child(1),
    .After-sale .After-sale-ul2 > li:nth-child(2),
    .After-sale .After-sale-ul2 > li:nth-child(3),
    .After-sale .After-sale-ul2 > li:nth-child(4),
    .After-sale .After-sale-ul2 > li:nth-child(5),
    .After-sale .After-sale-ul2 > li:nth-child(6) {
        margin-top: 1.5rem;
    }

    .After-sale .After-sale-ul2 li {
        text-align: center;
    }

    .After-sale .After-sale-ul2 li ul li {
        text-align: center;
        position: relative;
        left: -0.2rem;
    }
}

/*售后服务部分结束*/
/*右侧固定小服务开始*/
.service {
    position: fixed;
    right: 0;
    top: 15vh;
    z-index: 99;
}

.service div {
    width: 5vw;
    height: 5vw;
    background: white;
    border: 1px solid #f5f5f5;
    text-align: center;
    cursor: pointer;
}

.service div p {
    margin: 0;
    font-size: 1.5vw;
    padding: 0.5rem 0;
    opacity: 0.6;
}

.service div span {
    font-size: 1vw;
    opacity: 0.6;
}

.service div:nth-child(1),
.service div:nth-child(2),
.service div:nth-child(3),
.service div:nth-child(4),
.service div:nth-child(5) {
    border-bottom: 0;
}

.service div:hover p {
    color: #ff6700;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.service div:hover span {
    color: #ff6700;
    opacity: 1;
    transition: all 0.2s ease-in;
}

.service div:last-child {
    margin-top: 0.7rem;
    display: none;
}

.my-Wei-Xin {
    position: fixed;
    right: 5.5vw;
    top: 15vh;
    z-index: 99;
    display: none;
}

.my-Wei-Xin img {
    border-radius: 5px;
    height: 15vw;
    width: 9.5vw;
}

@media (max-width: 1200px) {
    .service {
        transition: all 1.6s ease-in;
        transform: translateY(10vh);
    }

    .service div span {
        display: none !important;
    }

    .service div p {
        padding: 0;
        font-size: 3vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*右侧固定小服务结束*/
/*版权信息*/
.copyright {
    font-size: 1.2vw;
    text-align: center;
    border-top: 1px solid #BBB;
    margin-top: 1.5vh;
    height: 3.5vh;
}

.copyright span {
    line-height: 3.5vh;
    font-style: italic;
}

.copyright i:nth-child(2) {
    font-size: 0.8vw;
    opacity: 0.6;
    line-height: 3.5vh;
}

.copyright i:last-child {
    line-height: 3.5vh;
    font-style: italic;
    font-weight: 300;
}