<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>千千静听播放器</title>
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" href="/css/music_Index.css" />
    <script src="/js/jquery-1.12.4.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/player.js"></script>
    <script src="/js/progress.js"></script>
    <script src="/js/lyric.js"></script>
    <script src="/js/music_Index.js"></script>
  </head>
  <body>
    <div class="header">
      <h1 class="logo"><a href="#">千千静听</a></h1>
      <ul class="register">
        <li id="loginMsg" ><a href="UserLogin.html" target="_self">登录</a></li>
        <li ><a href="index" target="_self">主页</a></li>
        <li>设置</li>
      </ul>
    </div>
    <div class="content">
      <div class="content_in">
        <div class="content_left">
          <div class="content_toolbar">
            <span><i></i>收藏</span>
            <span><i></i>添加到</span>
            <span><i></i>下载</span>
            <span class="content_toolbar_del"><i></i>删除</span>
            <span class="content_toolbar_close"><i></i>清空列表</span>
          </div>
          <div class="content_list" data-mcs-theme="minimal-dark">
            <ul>
              <li class="list_title">
                <div class="list_check" id="list_checkone" title="全选"><i></i></div>
                <div class="list_number"></div>
                <div class="list_name">歌曲</div>
                <div class="list_singer">歌手</div>
                <div class="list_time">时长</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="content_right">
          <div class="song_info">
            <a href="javascript:" class="song_info_pic">
              <img src="/images/business.jpg" alt="" />
            </a>
            <div class="song_info_name">
              歌曲名称:
              <a href="javascript:">朋友，劝你努力！</a>
            </div>
            <div class="song_info_singer">
              歌手名:
              <a href="javascript:">孙启新</a>
            </div>
            <div class="song_info_ablum">
              专辑名:
              <a href="javascript:">毒鸡汤系列</a>
            </div>
          </div>
          <div class="song_lyric_container">
            <ul class="song_lyric"></ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footer_in">
        <a href="javascript:" class="music_pre"></a>
        <a href="javascript:" class="music_play"></a>
        <a href="javascript:" class="music_next"></a>
        <div class="music_progress_info">
          <div class="music_progress_top">
            <span class="music_progress_name">朋友，劝你努力！ / 孙启新</span>
            <span class="music_progress_time">00:00 / 05:23</span>
          </div>
          <div class="music_progress_bar">
            <div class="music_progress_line">
              <div class="music_progress_dot"></div>
            </div>
          </div>
        </div>
        <a href="javascript:" class="music_mode1"></a>
        <a href="javascript:" class="music_fav"></a>
        <a href="javascript:" class="music_down"></a>
        <a href="javascript:" class="music_comment"></a>
        <a href="javascript:" class="music_only"></a>
        <div class="music_voice_info">
          <a href="javascript:" class="music_voice_icon"></a>
          <div class="music_voice_bar">
            <div class="music_voice_line">
              <div class="music_voice_dot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mask_bg"></div>
    <div class="mask"></div>
    <audio src=""></audio>
  </body>
</html>